<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Reset Password</h1>
    
    <div>
        <a th:href="@{/it-support/users}">Back to User Management</a>
    </div>
    
    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>
    
    <div>
        <h3>Reset password for user:</h3>
        <p th:text="${user.username + ' (' + user.fullName + ')'}"></p>
    </div>
    
    <form th:action="@{/it-support/users/{id}/reset-password(id=${user.id})}" method="post">
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        
        <div>
            <button type="submit">Reset Password</button>
        </div>
    </form>
</body>
</html>